.upload-card {
    max-width: 600px;
    margin: 0 auto;
    background-color: #1c1c1c !important;
}

.upload-preview-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    max-height: 250px;
}

.genre-badge svg {
    margin-left: 5px;
}

.custom-file-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.genre-badge {
    font-size: 0.9rem;
    padding: 6px 10px;
    border-radius: 1rem;
}

.genre-input-group.input-group {
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid #333;
    background-color: #3a3a3a;
    transition: border-color 0.2s ease;
    padding: 0px;
}

.genre-input-group.input-group:focus-within {
    border-color: #dc3545;
}

.genre-input-group .form-control {
    background-color: transparent;
    border: none;
    color: #fff;
    box-shadow: none !important;
    height: 48px;
    padding: 0.5rem 1.5rem;
}

.genre-input-group .form-control::placeholder {
    color: #a0a0a0;
}

.genre-input-group .btn {
    background-color: #dc3545;
    border: none;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
    z-index: 5;
    transition: background-color 0.2s ease;
    color: white;
}

.genre-input-group .btn:hover {
    background-color: #c82333;
}